$base-color: #ef8a7f;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

html,
body {
    // height: 100%;
}

* {
    // font-family: 'Space Mono', monospace, "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: $base-color;

    &:hover {
        color: rgba($base-color, 0.5);
    }
}

.my-btn {
  background-color: $base-color;
  color: white;

  &:hover {
    color: white;
    background-color: rgba($base-color, 0.8);
  }
}

.story-introduction {
    font-size: 2em;
}

.story-ending {
    font-size: 1.2em;
}

.story-point {
    display: table-row;

    .year {
        position: relative;
        display: table-cell;
        text-align: right;

        &:after {
            content: "";
            position: absolute;
            top: 1.3rem;
            width: 3rem;
            background: #f7aaa1;
            height: 0.2rem;
            right: 0;
        }
    }

    .content {
        padding: 0 0 0.75rem 1rem;
        // text-align: justify;
    }
}

.img-wrapper {
    img {
        width: 100%;
    }

    // smaller on ipad
    @media (min-width: $md) and (max-width: $lg) {
        img {
            width: 75%;
        }
    }

    // and small on full width
    @media (min-width: $xl) {
        img {
            width: 75%;
        }
    }

    div {
        // position: absolute;
        bottom: 1rem;
        font-size: 0.6rem;
        width: 100%;
        text-align: right;
    }
}

.images-container {
    text-align: center;

    img {
        margin-bottom: 2rem !important;
        border: 1px solid black;
        max-height: 500px;
        max-width: 100%;
        display: block;
        margin: auto;

        &:first-child {
            margin-top: 2rem;
        }
    }
}

.card {
    height: 100%;

    .card-links {
        display: flex;
        justify-content: space-evenly;
        padding: 0 1.25rem 1.25rem;
        align-items: center;

        img {
          max-height: 1.5rem;
          // vertical-align: bottom;
        }
    }
}

.back-button {
    position: absolute;
    margin-left: 1em;
    top: 1em;
    color: grey;
}

.row:last-child {
    margin-bottom: 1.5rem;
}
